/* Otsikot (esim. H1) tyylitellään huomiota herättävällä Bungee-fontilla */
h1 {
    font-family: 'Bungee', sans-serif;
}

/* Leipäteksti ja pitkät tekstit tyylitellään luettavammalla Fjalla One -fontilla */
p, li, a {
    font-family: 'Fjalla One', sans-serif;
}